@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["Header"];
}

<h1>@localizer["Header"]</h1>
<h3>@localizer["Message"]</h3>

<div>
    @await Html.PartialAsync("_SelectLanguagePartial")
</div>
